# R ç¨‹å¼è¨­è¨ˆ

> è³‡æ–™çµæ§‹

[æ•¸æ“šäº¤é»](https://www.datainpoint.com/) | éƒ­è€€ä» <yaojenkuo@datainpoint.com>

## ç·´ç¿’é¡ŒæŒ‡å¼•

- åœ¨ `### BEGIN SOLUTION` èˆ‡ `### END SOLUTION` é€™å…©å€‹å–®è¡Œè¨»è§£ä¹‹é–“æ’°å¯«èƒ½å¤ å¾—åˆ°é æœŸçµæœçš„ç¨‹å¼ã€‚
- å¯ä»¥å…ˆåœ¨ RStudio å¯«å‡ºè·Ÿé æœŸçµæœç›¸åŒçš„ç¨‹å¼å¾Œå†è¤‡è£½è²¼ä¸Šåˆ°ç·´ç¿’é¡Œã€‚
- åŸ·è¡Œæ¸¬è©¦çš„æ–¹å¼ç‚ºé»é¸ä¸Šæ–¹é¸å–®çš„ Kernel -> Restart & Run All -> Restart and Run All Cellsã€‚
- å¯ä»¥æ¯å¯«ä¸€é¡Œå°±åŸ·è¡Œæ¸¬è©¦ï¼Œä¹Ÿå¯ä»¥å…¨éƒ¨å¯«å®Œå†åŸ·è¡Œæ¸¬è©¦ã€‚

## è‡ªè¨‚ä¸€å€‹å‡½æ•¸ `lord_of_the_rings` è¼¸å‡ºä¸€å€‹é•·åº¦ç‚º 4 çš„æœ‰å‘½å `list`ã€‚

- é æœŸè¼¸å…¥ï¼šç„¡
- é æœŸè¼¸å‡ºï¼šä¸€å€‹ `list`

In [1]:
lord_of_the_rings <- function() {
    # lord_of_the_rings_list <- lord_of_the_rings()
    # class(lord_of_the_rings_list)
    # list
    # length(lord_of_the_rings_list)
    # 4
    # print(lord_of_the_rings()[['director']])
    # [1] "Peter Jackson"
    # print(lord_of_the_rings()[['episodes']])
    # [1] "The Fellowship of the Ring" "The Two Towers"            
    # [3] "The Return of the King"    
    # print(lord_of_the_rings()[['year_of_release']])
    # $`The Fellowship of the Ring`
    # [1] 2001

    # $`The Two Towers`
    # [1] 2002

    # $`The Return of the King`
    # [1] 2003
    # print(lord_of_the_rings()[['rating']])
    # $`The Fellowship of the Ring`
    # [1] 8.8

    # $`The Two Towers`
    # [1] 8.7

    # $`The Return of the King`
    # [1] 8.9
    ### BEGIN SOLUTION
    year_of_release = list(
        'The Fellowship of the Ring'=2001,
        'The Two Towers'=2002,
        'The Return of the King'=2003
    )
    rating = list(
        'The Fellowship of the Ring'=8.8,
        'The Two Towers'=8.7,
        'The Return of the King'=8.9
    )
    return(
        list(
            'director' = 'Peter Jackson',
            'episodes' = c('The Fellowship of the Ring', 'The Two Towers', 'The Return of the King'),
            'year_of_release' = year_of_release,
            'rating' = rating
        )
    )
    ### END SOLUTION
}

## è‡ªè¨‚ä¸€å€‹å‡½æ•¸ `batman_trilogy` è¼¸å‡ºä¸€å€‹å¤–è§€ç‚º `3 x 4` çš„ `data.frame`ã€‚

- é æœŸè¼¸å…¥ï¼šç„¡
- é æœŸè¼¸å‡ºï¼šä¸€å€‹ `3 x 4` çš„ `data.frame`

In [2]:
batman_trilogy <- function() {
    # batman_trilogy_df <- batman_trilogy()
    # class(batman_trilogy_df)
    # data.frame
    # nrows(batman_trilogy_df)
    # 3
    # ncols(batman_trilogy_df)
    # 4
    # print(batman_trilogy_df)
    #  episode                 title year rating
    #1       1         Batman Begins 2005    8.2
    #2       2       The Dark Knight 2008    9.0
    #3       3 The Dark Knight Rises 2012    8.4
    ### BEGIN SOLUTION
    episodes <- 1:3
    titles <- c('Batman Begins', 'The Dark Knight', "The Dark Knight Rises")
    years <- c(2005, 2008, 2012)
    ratings <- c(8.2, 9.0, 8.4)
    return(
        data.frame(episode=episodes, title=titles, year=years, rating=ratings)
    )
    ### END SOLUTION
}

## è‡ªè¨‚ä¸€å€‹å‡½æ•¸ `top_rated_movies` è¼¸å‡ºä¸€å€‹å¤–è§€ç‚º `5 x 3` çš„ `data.frame`ã€‚

- é æœŸè¼¸å…¥ï¼šç„¡
- é æœŸè¼¸å‡ºï¼šä¸€å€‹ `5 x 3` çš„ `data.frame`

In [3]:
top_rated_movies <- function() {
    # top_rated_movies_df <- top_rated_movies()
    # class(top_rated_movies_df)
    # data.frame
    # nrows(top_rated_movies_df)
    # 5
    # ncols(top_rated_movies_df)
    # 3
    # print(top_rated_movies_df)
    #                     title year rating
    #1 The Shawshank Redemption 1994    9.2
    #2          The Dark Knight 2008    9.0
    #3         Schindler's List 1993    8.9
    #4             Forrest Gump 1994    8.8
    #5                Inception 2010    8.7
    ### BEGIN SOLUTION
    titles <- c('The Shawshank Redemption', 'The Dark Knight', "Schindler's List", 'Forrest Gump', 'Inception')
    years <- c(1994, 2008, 1993, 1994, 2010)
    ratings <- c(9.2, 9.0, 8.9, 8.8, 8.7)
    return(
        data.frame(title=titles, year=years, rating=ratings)
    )
    ### END SOLUTION
}

## åŸ·è¡Œæ¸¬è©¦

Kernel -> Restart & Run All -> Restart and Run All Cells.

In [4]:
library(testthat)

test_lord_of_the_rings <- tryCatch({
    test_that("test_lord_of_the_rings", {
        expect_type(lord_of_the_rings(), 'list')
        expect_equal(length(lord_of_the_rings()), 4)
        expect_equal(lord_of_the_rings()[['director']], 'Peter Jackson')
        expect_equal(lord_of_the_rings()[['episodes']], c('The Fellowship of the Ring', 'The Two Towers', 'The Return of the King'))
        expect_equal(lord_of_the_rings()[['year_of_release']][['The Return of the King']], 2003)
        expect_equal(lord_of_the_rings()[['rating']][['The Return of the King']], 8.9)
    })
    }, error = function(e) {
        FALSE
})
test_top_rated_movies <- tryCatch({
    test_that("test_top_rated_movies", {
        expect_s3_class(top_rated_movies(), "data.frame")
        expect_equal(nrow(top_rated_movies()), 5)
        expect_equal(ncol(top_rated_movies()), 3)
        expect_equal(max(top_rated_movies()[['rating']]), 9.2)
        expect_equal(min(top_rated_movies()[['rating']]), 8.7)
        expect_equal(max(top_rated_movies()[['year']]), 2010)
        expect_equal(min(top_rated_movies()[['year']]), 1993)
    })
    }, error = function(e) {
        FALSE
})
test_batman_trilogy <- tryCatch({
    test_that("test_batman_trilogy", {
        expect_s3_class(batman_trilogy(), "data.frame")
        expect_equal(nrow(batman_trilogy()), 3)
        expect_equal(ncol(batman_trilogy()), 4)
        expect_equal(max(batman_trilogy()[['rating']]), 9.0)
        expect_equal(min(batman_trilogy()[['rating']]), 8.2)
        expect_equal(max(batman_trilogy()[['year']]), 2012)
        expect_equal(min(batman_trilogy()[['year']]), 2005)
    })
    }, error = function(e) {
        FALSE
})

Test passed ğŸ‰
Test passed ğŸ˜€
Test passed ğŸŒˆ

In [5]:
all_tests <- c(test_lord_of_the_rings, test_batman_trilogy, test_top_rated_movies)
passed_tests <- sum(all_tests)
sprintf("åœ¨ %s é¡Œä¸­ï¼Œæ‚¨ç¸½å…±ç­”å°äº† %s é¡Œã€‚", length(all_tests), passed_tests)

[1] "åœ¨ 3 é¡Œä¸­ï¼Œæ‚¨ç¸½å…±ç­”å°äº† 3 é¡Œã€‚"